<h1>Search</h1>
<% if @tracks.any? %>
    <ul>
      <% @tracks.each do |track| %>
      <li>
        <h2><%= track.name %> (<%= track.artists[0].name %>)</h2>
        <%= link_to 'add to playlist', "/playlists/select_song?track=#{track.id}", { method: :post } %>
      </li>
      <% end %>
    </ul>
<% else %>
    <h2>There are no songs with this name. :-(</h2>
<% end %>
