<% if @tracks.any? %>
    <ul>
      <% @tracks.each do |track| %>
      <li>
        <h2><%= track.name %></h2>
        <%= link_to 'select', "/playlists/select_song?track=#{track.id}" %>
      </li>
    </ul>
<% end %>
<% else %>
    <h2>There are no songs with this name. :-(</h2>
<% end %>
