<h1>Playlists</h1>
<% @playlists.each do |playlist| %>

  <h2><%= playlist.name %></h2>
  <p><%= playlist.description %></p>
  <%= link_to 'select', "/playlists/select?playlist=#{playlist.id}" %>
  <br/>


<% end %>
