default: &default
  dispatchers:
    - polling_interval: 1
      batch_size: 500
  workers:
    - queues: "*"
      threads: 3
      polling_interval: 2

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
