<div class="friday-releases">
  <h1 class="title">Sextou lançamentos</h1>

  <p class="friday-releases__description">
    Eae.<br />
    Essa Playlist do sextou vai adicionar todas as músicas lançadas como albums/eps/singles durante a semana, toda sexta.<br />

    Hey o spotify já te da os lançamentos através do New Releases. E é uma ótima seleção, exatamente, ele filtra oque eles acham que vc vai querer saber.<br />

    Então pode ser que sua playlist do sextou fique gigantesca 😱.<br />
    Vai depender bastante da época e da quantidade de artista que vc segue.<br />

    Logo essa funcionalidade é para quem prefere <strong>escolher</strong> oque não quer ouvir sobre <strong>não ouvir</strong> por que não ficou sabendo.<br />
  </p>

  <%= render 'form', friday_release: @friday_release %>
</div>
