<h1 class="title">Snapshot</h1>

<p class="subheading">
  <%= link_to 'home', '/' %>
</p>

<% if @playlists.any? %>
  <ul class="list">
    <% @playlists.each do |playlist| %>
      <li class="list__item">
        <h2 class="list__item-title"><%= playlist.name %></h2>
        <%= link_to 'selecionar', snapshot_index_path(playlist_id: playlist.id), method: :post, class: 'button button--listing' %>
      </li>
    <% end %>
  </ul>

  <% if @playlists.count == @per_page %>
    <%= link_to 'mais >', snapshot_index_path(page: @next_page), class: 'button' %>
  <% end %>
<% else %>
  <h2>You don't follow any playlist 🤔</h2>
<% end %>
