.button {
  display: block;
  padding: 1rem;
  color: $blue;
  border: 1px solid $blue;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background: rgba($blue, .25);
  }

  &--listing {
    margin: 5px 1rem 5px 0;

    @include tablet {
      margin: 0 2rem 0.3rem 2rem;
    }
  }
}
