$red: #AA4139;
$green: #448F30;

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover {
    background-color: transparent;
  }
}

h1 {
  color: #fff;
  font-family: 'Marck Script', cursive;
  font-size: 6rem;
  letter-spacing: .15rem;
  text-shadow: 10px 10px 30px $green,
               10px 10px 1px rgba($green, .5),
               10px 10px 1px rgba($red, .5);
  margin: 15vh auto;
}

body {
  padding: 5vh 5vw;
  margin: 0;
  position: relative;
  color: #FFF;
  background: #111;
  min-height: 100vh;
  text-align: center;

  &:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    background: -webkit-linear-gradient(to left, #00C9FF , #92FE9D);
    background: linear-gradient(to left, #00C9FF , #92FE9D);
    opacity: 0.1;
  }
}

.playlist-label {
  font-family: 'Marck Script', cursive;
  margin-top: 80px;
  font-size: 42px;
  animation-name: neon;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-shadow: 0 0 1px darken($green, 10%);
}

@keyframes neon {
  from {
    color: #fff;
    transform: rotate(-3deg);
  }

  to {
    color: $green;
    text-shadow: 0 .75px 3px lighten($green, 10%);
    transform: rotate(3deg);
  }
}

.playlist-select {
  font-family: 'Marck Script', cursive;
  transition: all .2s ease-in-out;
  margin-bottom: 50px;
  font-size: 24px;


  &:hover {
    transform: scaleY(1.2);
  }
}

ul {
  li {
    display: flex;
    flex-flow: row wrap;
    text-transform: uppercase;
    margin-bottom: 2rem;
    border-left: 4px solid lighten($green, 20%);
    transition: border .2s ease;
    padding-left: 1rem;

    &:hover {
      border-left: 10px solid lighten($green, 30%);

      h2 {
        color: lighten($green, 30%);
      }
    }
  }

  h2,
  a {
      margin: auto 0;
  }

  h2 {
    color: lighten($green, 20%);
    text-align: left;
    cursor: default;
  }

  a {
    display: block;
    padding: 1rem;
    color: #00C9FF;
    border: 1px solid #00C9FF;
    margin-left: 2rem;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      background: rgba(#00C9FF, .25);
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: .5rem;
  font-size: 1rem;
  letter-spacing: .1rem;
  background: darken($green, 30%);
}
